@tailwind base;

@layer base {
    * {
      @apply bg-bg;
    }

    section {
        @apply my-8;
    }
}

@tailwind components;
@tailwind utilities;

.theme-light {
  --primary: #2978b5;
  --primaryText: #000000;
  --primaryShadow: #0000002b;
  --bg: #fcfcfc;
  --bgText: #424242; 
}

.theme-dark {
  --primary: #6d7eb1;
  --primaryText: #ffffff;
  --primaryShadow: #0000002b;
  --bg: #282e47;
  --bgText: #cfcfef; 
}